@font-face {
  font-family: "MasonChronicles";
  src: url("../fonts/MasonChronicles.woff") format("woff");
  src: url("../fonts/masonchronicles3.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  color: #fff;
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #141218 url(../img/background.jpg) top right 20% no-repeat;
}

.header {
  margin-bottom: 90px;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

.header-item {
  display: flex;
  align-items: center;
}

.logo {
  height: 37px;
  width: 50px;
  margin-right: 68px;
}

.menu-list {
  margin-right: auto;
}

.menu-link {
  margin-right: 24px;
}

.social-link {
  margin-right: 21px;
}

.social-link:last-child {
  margin-right: 0;
}
.content{
  margin-bottom: 85px;
}
.main-content {
  display: flex;
  align-items: center;
}

.genre {
  display: block;
  margin-bottom: 16px;
  animation-delay: 0.1s;
}

.rating {
  display: flex;
  margin-bottom: 10px;
  animation-delay: 0.3s;
}

.rating-stars {
  margin-right: 9px; 
}

.rating-number {
  font-size: 12px;
  line-height: 14px;
}

h1 {
  font-family: MasonChronicles, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 76px;
  line-height: 89px;
  margin-bottom: 10px;
  animation-delay: 0.5s;
}

.description {
  line-height: 21px;
  max-width: 458px;
  margin-bottom: 40px;
  animation-delay: 0.7s;
}
.button {
  padding: 22px 72px;
  background: #9d2929;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  border: none;  
  animation-delay: 1s;
}
.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #9d2929;
  border: none;
  position: relative;
  margin: auto;
}
.play:before {
  content: "";
  width: 132px;
  height: 132px;
  background: #9d2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
  animation: pulse 0.5s ease-in-out 0.5s infinite;
  
}
.play-img {
  position: relative;
  transform: translateX(5px);
}

/* series-sliders */

.series {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  max-width: 420px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
  width: 164px;
  height: 113px;
  padding: 0 0 13px 13px;
  border-radius: 8px;
}
.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/card-1.jpg) center center no-repeat;
  background-size: cover;
}
.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/series/card-2.jpg) center center no-repeat;
  background-size: cover;
}
.card-subtitle {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.arrow {
  width: 32px;
  height: 23px;
  background: url(../img/arrow.svg) center no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -35px;
}
.swiper-container {
  max-width: 420px;
  margin-left: 0;
}

/* footer */
.footer {
  margin-top: auto;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255,255,255,0.4);
}
.copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.footer-link {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255,0.4);
  margin-right: 25px;
}
.footer-link:last-child {
  margin-right: 0;
}
.line {
  display: none;
}

/* Responsive */
@media (max-width: 760px) {
  .play {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .copyright {
    display: block;
    margin-bottom: 8px;
  }
}

@media (max-width: 540px) {
  .line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    right: 35px;
    top: 50px;
    position: absolute;
    cursor: pointer;
    transition:all .2s ease-in-out;
  }
  .line::before,
  .line::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    transition:all .2s ease-in-out;
  }
  .line::before{
    margin-top: -7px;
  }
  .line::after{
    margin-top: 7px;
  }
  .line.active {
    height: 0;
    border: none;
  }
  .line.active::before {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .line.active::after {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  

  .header-item {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #902929;
    width: 250px;
    padding-bottom: 40px;
    justify-content: center;
    transition: opacity 0.2s;
  }
  .header-item.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
  }
  .logo {
    margin-top: 40px;
    margin-bottom: 25px;
    align-items: center;
    margin-right: 0;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    order: 2;
    align-items: center;
  }
  .menu-link {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .header-social {
    order: 1;
    margin-bottom: 22px;
  }
  .social-link:first-child {
    margin-left: 0;
  }
  .swiper-container{
    width: 80%;
  }
  .main-content{
    margin-top: 56px;
  }
  .title{
    font-size: 56px;
  }
  .series{
    width: 80%;
  }
}
